<div *ngIf="locationh">
    <div>
        <label for="location-suburb">Suburb</label>
        <input id="location-suburb" [(ngModel)]="locationh.suburb" placeholder="Suburb" />
    </div>
    <div>
        <label for="location-rooms">Rooms</label>
        <input id="rooms" [(ngModel)]="locationh.rooms" placeholder="Rooms" />
    </div>
    <div>
        <label for="location-housetype">House Type</label>
        <input id="location-housetype" [(ngModel)]="locationh.housetype" placeholder="House Type" />
    </div>

    <div>
        <label for="location-price">Price</label>
        <input id="location-price" [(ngModel)]="locationh.price" placeholder="Price" />
    </div>

    <div>
        <label for="location-seller">Seller</label>
        <input id="location-seller" [(ngModel)]="locationh.seller" placeholder="Seller" />
    </div>

    <div>
        <label for="location-date">Date</label>
        <input id="location-date" [(ngModel)]="locationh.date" placeholder="Date" />
    </div>

    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>


</div>